@font-face {
    font-family: Diphylleia;
    font-style: normal;
    font-weight: 400;
    src:
        url("https://fonts.bunny.net/diphylleia/files/diphylleia-latin-400-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/diphylleia/files/diphylleia-latin-400-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Merriweather;
    font-stretch: 100%;
    font-style: italic;
    font-weight: 300;
    src:
        url("https://fonts.bunny.net/merriweather/files/merriweather-latin-300-italic.woff2") format('woff2'),
        url("https://fonts.bunny.net/merriweather/files/merriweather-latin-300-italic.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Merriweather;
    font-stretch: 100%;
    font-style: italic;
    font-weight: 800;
    src:
        url("https://fonts.bunny.net/merriweather/files/merriweather-latin-800-italic.woff2") format('woff2'),
        url("https://fonts.bunny.net/merriweather/files/merriweather-latin-800-italic.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Merriweather;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 300;
    src:
        url("https://fonts.bunny.net/merriweather/files/merriweather-latin-300-normal.woff2") format('woff2'),
        url("https://fonts.bunny.net/merriweather/files/merriweather-latin-300-normal.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Merriweather;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 800;
    src:
        url("https://fonts.bunny.net/merriweather/files/merriweather-latin-800-normal.woff2") format('woff2'),
        url("https://fonts.bunny.net/merriweather/files/merriweather-latin-800-normal.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Mulish;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    src:
        url("https://fonts.bunny.net/mulish/files/mulish-latin-400-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/mulish/files/mulish-latin-400-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Mulish;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 500;
    src:
        url("https://fonts.bunny.net/mulish/files/mulish-latin-500-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/mulish/files/mulish-latin-500-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Mulish;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    src:
        url("https://fonts.bunny.net/mulish/files/mulish-latin-600-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/mulish/files/mulish-latin-600-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Mulish;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    src:
        url("https://fonts.bunny.net/mulish/files/mulish-latin-700-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/mulish/files/mulish-latin-700-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Mulish;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 800;
    src:
        url("https://fonts.bunny.net/mulish/files/mulish-latin-800-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/mulish/files/mulish-latin-800-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    /** Font Weights **/
    --fi-font-weight-regular: 400;
    --fi-font-weight-medium: 500;
    --fi-font-weight-semibold: 600;
    --fi-font-weight-bold: 700;
    --fi-font-weight-extrabold: 800;
    --fi-font-family-body: merriweather, serif;
    --fi-font-family-display-alt: diphylleia, serif;
    --fi-font-family-display: mulish, sans-serif;

    /** Colors **/
    --fi-color-green-100: #d4e6d5;
    --fi-color-green-200: #aaceab;
    --fi-color-green-300: #7fb581;
    --fi-color-green-350: #62a969;
    --fi-color-green-400: #559d57;
    --fi-color-green-500: #2a842d;
    --fi-color-green-600: #28702b;
    --fi-color-green-700: #275d29;
    --fi-color-green-800: #254926;
    --fi-color-green-900: #243624;
    --fi-color-white: #fff;
    --fi-color-grey-50: #f6f5f2;
    --fi-color-grey-100: #e6e6e6;
    --fi-color-grey-200: #ccc;
    --fi-color-grey-300: #b3b3b3;
    --fi-color-grey-400: #949494;
    --fi-color-grey-500: #808080;
    --fi-color-grey-600: #666;
    --fi-color-grey-700: #474747;
    --fi-color-grey-75: #f4f4f4;
    --fi-color-grey-750: #313131;
    --fi-color-grey-800: #222;
    --fi-color-grey-850: #161616;
    --fi-color-black: #000;
    --fi-color-lime-100: #f8fad2;
    --fi-color-lime-200: #f2f6a4;
    --fi-color-lime-300: #ebf177;
    --fi-color-lime-400: #e4ed49;
    --fi-color-lime-500: #dee81c;
    --fi-color-lime-600: #b2ba19;
    --fi-color-lime-700: #93991e;
    --fi-color-lime-800: #6d7120;
    --fi-color-lime-900: #484a21;
    --fi-color-red-100: #f5d6d7;
    --fi-color-red-200: #eaadae;
    --fi-color-red-300: #e08586;
    --fi-color-red-400: #d55c5d;
    --fi-color-red-500: #cb3335;
    --fi-color-red-600: #a93031;
    --fi-color-red-700: #872c2d;
    --fi-color-red-800: #66292a;
    --fi-color-red-900: #442526;
    --fi-color-yellow-100: #f9eec6;
    --fi-color-yellow-200: #f6e3a4;
    --fi-color-yellow-300: #f6d872;
    --fi-color-yellow-400: #edc749;
    --fi-color-yellow-500: #e8b91c;
    --fi-color-yellow-600: #c09b1d;
    --fi-color-yellow-650: #c38813;
    --fi-color-yellow-700: #997d1e;
    --fi-color-yellow-800: #715e20;
    --fi-color-yellow-900: #4a4021;
    --fi-current-color: currentcolor;

    /** Color Aliases **/
    --fi-color-attention-100: var(--fi-color-red-100);
    --fi-color-attention-200: var(--fi-color-red-200);
    --fi-color-attention-300: var(--fi-color-red-300);
    --fi-color-attention-400: var(--fi-color-red-400);
    --fi-color-attention-500: var(--fi-color-red-500);
    --fi-color-attention-600: var(--fi-color-red-600);
    --fi-color-attention-700: var(--fi-color-red-700);
    --fi-color-attention-800: var(--fi-color-red-800);
    --fi-color-attention-900: var(--fi-color-red-900);
    --fi-color-neutral-100: var(--fi-color-grey-100);
    --fi-color-neutral-200: var(--fi-color-grey-200);
    --fi-color-neutral-300: var(--fi-color-grey-300);
    --fi-color-neutral-400: var(--fi-color-grey-400);
    --fi-color-neutral-500: var(--fi-color-grey-500);
    --fi-color-neutral-50: var(--fi-color-grey-50);
    --fi-color-neutral-600: var(--fi-color-grey-600);
    --fi-color-neutral-700: var(--fi-color-grey-700);
    --fi-color-neutral-75: var(--fi-color-grey-75);
    --fi-color-neutral-750: var(--fi-color-grey-750);
    --fi-color-neutral-800: var(--fi-color-grey-800);
    --fi-color-neutral-850: var(--fi-color-grey-850);
    --fi-color-neutral-900: var(--fi-color-grey-900);
    --fi-color-primary-100: var(--fi-color-lime-100);
    --fi-color-primary-200: var(--fi-color-lime-200);
    --fi-color-primary-300: var(--fi-color-lime-300);
    --fi-color-primary-400: var(--fi-color-lime-400);
    --fi-color-primary-500: var(--fi-color-lime-500);
    --fi-color-primary-600: var(--fi-color-lime-600);
    --fi-color-primary-700: var(--fi-color-lime-700);
    --fi-color-primary-800: var(--fi-color-lime-800);
    --fi-color-primary-900: var(--fi-color-lime-900);
    --fi-color-pyramid-100: var(--fi-color-green-100);
    --fi-color-pyramid-200: var(--fi-color-green-200);
    --fi-color-pyramid-300: var(--fi-color-green-300);
    --fi-color-pyramid-350: var(--fi-color-green-350);
    --fi-color-pyramid-500: var(--fi-color-green-500);
    --fi-color-pyramid-600: var(--fi-color-green-600);
    --fi-color-pyramid-700: var(--fi-color-green-700);
    --fi-color-pyramid-800: var(--fi-color-green-800);
    --fi-color-pyramid-900: var(--fi-color-green-900);
    --fi-color-wheel-100: var(--fi-color-yellow-100);
    --fi-color-wheel-200: var(--fi-color-yellow-200);
    --fi-color-wheel-300: var(--fi-color-yellow-300);
    --fi-color-wheel-400: var(--fi-color-yellow-400);
    --fi-color-wheel-500: var(--fi-color-yellow-500);
    --fi-color-wheel-600: var(--fi-color-yellow-600);
    --fi-color-wheel-700: var(--fi-color-yellow-700);
    --fi-color-wheel-800: var(--fi-color-yellow-800);
    --fi-color-wheel-900: var(--fi-color-yellow-900);

    /** Spacing **/
    --fi-spacing-025: calc(1 / 16 * 1rem);
    --fi-spacing-050: calc(2 / 16 * 1rem);
    --fi-spacing-100: calc(4 / 16 * 1rem);
    --fi-spacing-150: calc(6 / 16 * 1rem);
    --fi-spacing-200: calc(8 / 16 * 1rem);
    --fi-spacing-300: calc(12 / 16 * 1rem);
    --fi-spacing-400: calc(16 / 16 * 1rem);
    --fi-spacing-500: calc(20 / 16 * 1rem);
    --fi-spacing-600: calc(24 / 16 * 1rem);
    --fi-spacing-800: calc(32 / 16 * 1rem);
    --fi-spacing-1000: calc(40 / 16 * 1rem);
    --fi-spacing-1200: calc(48 / 16 * 1rem);
    --fi-spacing-1400: calc(56 / 16 * 1rem);
    --fi-spacing-1600: calc(64 / 16 * 1rem);
    --fi-spacing-1800: calc(72 / 16 * 1rem);
    --fi-spacing-2000: calc(80 / 16 * 1rem);
    --fi-spacing-3000: calc(120 / 16 * 1rem);
    --fi-spacing-3700: calc(148 / 16 * 1rem);
    --fi-spacing-5600: calc(224 / 16 * 1rem);

    /** Border Widths **/
    --fi-border-width-1: calc(1 / 16 * 1rem);
    --fi-border-width-2: calc(2 / 16 * 1rem);
    --fi-border-width-4: calc(4 / 16 * 1rem);

    /* Spacing Aliases */
    --fi-space-2xs: var(--fi-spacing-200);
    --fi-space-xs: var(--fi-spacing-300);
    --fi-space-s: var(--fi-spacing-400);
    --fi-space-m: var(--fi-spacing-600);
    --fi-space-l: var(--fi-spacing-800);
    --fi-space-xl: var(--fi-spacing-1000);
    --fi-space-2xl: var(--fi-spacing-1200);
    --fi-space-3xl: var(--fi-spacing-3000);

    /* Fluid Spacing
       @link https://utopia.fyi/space/calculator?c=360,16,1.2,1440,32,1.25,5,2,&s=0.75|0.625,1.5|2|2.5|3|3.75|4.375|6|7|14,xs-2xs|l-6xl|4xl-l|5xl-3xl&g=s,l,xl,12 */

    --fi-space-fluid-2xs: clamp(0.625rem, 0.4167rem + 0.9259vw, 1.25rem);

    /* Space 2xs: 10px → 20px */
    --fi-space-fluid-xs: clamp(0.75rem, 0.5rem + 1.1111vw, 1.5rem);

    /* Space xs: 12px → 24px */
    --fi-space-fluid-s: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);

    /* Space s: 16px → 32px */
    --fi-space-fluid-m: clamp(1.5rem, 1rem + 2.2222vw, 3rem);

    /* Space m: 24px → 48px */
    --fi-space-fluid-l: clamp(2rem, 1.3333rem + 2.963vw, 4rem);

    /* Space l: 32px → 64px */
    --fi-space-fluid-xl: clamp(2.5rem, 1.6667rem + 3.7037vw, 5rem);

    /* Space xl: 40px → 80px */
    --fi-space-fluid-2xl: clamp(3rem, 2rem + 4.4444vw, 6rem);

    /* Space 2xl: 48px → 96px */
    --fi-space-fluid-3xl: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);

    /* Space 3xl: 60px → 120px */
    --fi-space-fluid-4xl: clamp(4.375rem, 2.9167rem + 6.4815vw, 8.75rem);

    /* Space 4xl: 70px → 140px */
    --fi-space-fluid-5xl: clamp(6rem, 4rem + 8.8889vw, 12rem);

    /* Space 5xl: 96px → 192px */
    --fi-space-fluid-6xl: clamp(7rem, 4.6667rem + 10.3704vw, 14rem);

    /* Space 6xl: 112px → 224px */
    --fi-space-fluid-7xl: clamp(14rem, 9.3333rem + 20.7407vw, 28rem);

    /* Space 7xl: 224px → 448px */

    /* One-up pairs */
    --fi-space-fluid-2xs-xs: clamp(0.625rem, 0.3333rem + 1.2963vw, 1.5rem);

    /* Space 2xs-xs: 10px → 24px */
    --fi-space-fluid-xs-s: clamp(0.75rem, 0.3333rem + 1.8519vw, 2rem);

    /* Space xs-s: 12px → 32px */
    --fi-space-fluid-s-m: clamp(1rem, 0.3333rem + 2.963vw, 3rem);

    /* Space s-m: 16px → 48px */
    --fi-space-fluid-m-l: clamp(1.5rem, 0.6667rem + 3.7037vw, 4rem);

    /* Space m-l: 24px → 64px */
    --fi-space-fluid-l-xl: clamp(2rem, 1rem + 4.4444vw, 5rem);

    /* Space l-xl: 32px → 80px */
    --fi-space-fluid-xl-2xl: clamp(2.5rem, 1.3333rem + 5.1852vw, 6rem);

    /* Space xl-2xl: 40px → 96px */
    --fi-space-fluid-2xl-3xl: clamp(3rem, 1.5rem + 6.6667vw, 7.5rem);

    /* Space 2xl-3xl: 48px → 120px */
    --fi-space-fluid-3xl-4xl: clamp(3.75rem, 2.0833rem + 7.4074vw, 8.75rem);

    /* Space 3xl-4xl: 60px → 140px */
    --fi-space-fluid-4xl-5xl: clamp(4.375rem, 1.8333rem + 11.2963vw, 12rem);

    /* Space 4xl-5xl: 70px → 192px */
    --fi-space-fluid-5xl-6xl: clamp(6rem, 3.3333rem + 11.8519vw, 14rem);

    /* Space 5xl-6xl: 96px → 224px */
    --fi-space-fluid-6xl-7xl: clamp(7rem, 0rem + 31.1111vw, 28rem);

    /* Space 6xl-7xl: 112px → 448px */

    /* Custom pairs */
    --fi-space-fluid-xs-2xs: clamp(0.75rem, 0.5833rem + 0.7407vw, 1.25rem);

    /* Space xs-2xs: 12px → 20px */
    --fi-space-fluid-l-6xl: clamp(2rem, -2rem + 17.7778vw, 14rem);

    /* Space l-6xl: 32px → 224px */
    --fi-space-fluid-4xl-l: clamp(4rem, 4.5rem + -0.5556vw, 4.375rem);

    /* Space 4xl-l: 70px → 64px */
    --fi-space-fluid-5xl-3xl: clamp(6rem, 5.5rem + 2.2222vw, 7.5rem);

    /* Space 5xl-3xl: 96px → 120px */

    /* Margin Padding */
    --fi-margin-padding: var(--fi-space-fluid-l-6xl);

    /** Color Scheme **/
    color-scheme: light dark;

    --fi-main-content-hierarchy: var(--fl-fgColor, light-dark(var(--fi-color-green-500), var(--fi-color-green-300)))
}

/* Reset @see https://piccalil.li/blog/a-more-modern-css-reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    text-size-adjust: none;
}

body,
h1,
h2,
h3,
p,
figure {
    margin: 0;
}

ul,
ol {
    list-style-position: inside;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

button,
input,
label {
    line-height: calc(1.4 * var(--fl-lineSpace-factor, 1));
}

a:not([class]) {
    color: currentcolor;
    text-decoration-skip-ink: auto;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input {
    font-family: inherit;
    font-size: inherit;
}

body {
    font-family: var(--fi-font-family-body);
}

h1,
h2,
h3,
h4,
h5,
.h5 {
    font-family: var(--fi-font-family-display);
    line-height: var(--fl-lineSpace-factor, 1.2);
}

h1 em,
h2 em {
    font-family: var(--fi-font-family-display-alt);
    font-style: normal;
    font-weight: var(--fi-font-weight-regular);
}

h1,
h2,
h3 {
    font-weight: var(--fi-font-weight-extrabold);
    text-wrap: balance;
}

h4,
h5,
h6 strong {
    font-weight: var(--fi-font-weight-bold);
}

a:visited {
    color: currentcolor;
}

/* Utils */
.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.two-column.frameworks {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.frameworks h4 {
    margin-top: 0;
}

.frameworks+.frameworks {
    margin-top: var(--step-2);
}

.frameworks> :first-child {
    display: flex;
    flex-grow: 1;
    width: 60px;
}

.frameworks> :last-child {
    flex-basis: 0;
    flex-grow: 999;
    margin-top: 0;
    min-width: 50%;
}

.frameworks>div>*+* {
    margin-top: 1em;
}

.full {
    height: auto;
    width: 100%;
}

.two-column {
    align-items: center;
    break-inside: avoid;
    display: flex;
    gap: 1.5rem;
}

.two-column ol {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.two-column>* {
    width: 50%;
}

.w-80 {
    width: 80px;
}

.two-column svg {
    height: auto;
    width: auto;
}

.two-column.flexible .flow {
    --flow-space: 0.25rem;
}

.two-column+* {
    margin-top: 2rem;
}

.w1,
.w2,
.w3,
.w4 {
    fill: var(--fl-bgColor, var(--fill));
    stroke: var(--fl-fgColor, var(--fi-color-wheel-900));
}

[class*="fl-theme"]:not(.fl-theme-prefsEditor-default) {
    .w1,
    .w2,
    .w3,
    .w5 {
        stroke-width: 1;
    }
}

.w1 {
    --fill: var(--fi-color-wheel-500);
}

.w2 {
    --fill: var(--fi-color-wheel-300);
}

.w3 {
    --fill: var(--fi-color-wheel-100);
}

.w4 {
    --fill: var(--fi-color-neutral-50);

    stroke: var(--fl-fgColor, transparent);
    stroke-width: var(--fi-border-width-1);
}

.w5,
.w9 {
    stroke: var(--fl-fgColor, var(--stroke));
}

.w6,
.w7,
.w8 {
    fill: var(--fl-fgColor, var(--fill));
}

.w5 {
    --stroke: var(--fi-color-wheel-700);
}

.w6 {
    --fill: var(--fi-color-attention-400);
}

.w7 {
    --fill: var(--fi-color-grey-800);
}

.w8 {
    --fill: var(--fi-color-attention-600);
}

.w9 {
    --stroke: var(--fi-color-black);
}

.p1,
.p2,
.p3,
.p4,
.p7 {
    fill: var(--fl-bgColor, var(--fill));
    stroke: var(--fl-fgColor, var(--fi-color-pyramid-600));
    stroke-width: 1px;
}

.p5 {
    fill: var(--fl-fgColor, var(--fill));
    stroke: var(--fl-fgColor, transparent);
    stroke-width: 1px;
}

.p6,
.p9 {
    fill: var(--fl-fgColor, var(--fill));
}

.p1 {
    --fill: var(--fi-color-pyramid-100);
}

.p2 {
    --fill: var(--fi-color-pyramid-200);
}

.p3 {
    --fill: var(--fi-color-pyramid-300);
}

.p4 {
    --fill: var(--fi-color-pyramid-350);
}

.p5,
.p6 {
    --fill: var(--fi-color-pyramid-500);
}

.p7 {
    --fill: var(--fi-color-yellow-500);
}

.p8 {
    stroke: var(--fl-fgColor, var(--fi-color-black));
}

.p9 {
    fill: var(--fl-fgColor, var(--fi-color-black));
}

.barrier-title {
    font-weight: var(--fi-font-weight-normal);
}

.two-column .barrier-title strong {
    color: var(--fl-fgColor, var(--fi-color-green-500));
}

.introduction ul {
    list-style-type: none;
}

.introduction em {
    font-family: var(--fi-font-family-display-alt);
    font-style: normal;
}

.journey-map {
    position: relative;
}

.journey-map ol {
    list-style: none;
}

.journey-map li {
    position: absolute;
}

.journey-map .usual,
.journey-map .potential {
    position: absolute;
}

.surtitle {
    font-size: var(--step-0);
    font-weight: var(--fi-font-weight-extrabold);
    margin-top: 0;
}

.diagram {
    color: var(--fl-fgColor, var(--fi-color-neutral-800));
    font-family: var(--fi-font-family-display);
    font-size: var(--step--2);
    font-weight: var(--fi-font-weight-semibold);
    line-height: 1.2;
}

.diagram.worksheet {
    font-size: var(--step-0);
}

.align-center {
    text-align: center;
}

.color-content-hierarchy,
.barrier-title,
.can {
    color: var(--fi-main-content-hierarchy, var(--fi-color-green-500));
}

.color-content-emphasis,
.two-column.flexible strong,
.yes-maybe-no strong,
.instructions .factors-list {
    color: var(--fi-main-content-emphasis, var(--fi-color-red-600));
}

.card {
    background: var(--fl-bgColor, var(--fill));
    border: 1px solid var(--fl-fgColor, transparent);
    color: var(--fl-fgColor, var(--color));
    font-family: var(--fi-font-family-display);
    font-size: var(--step--1);
    font-weight: var(--fi-font-weight-semibold);
    line-height: 1.2;
    max-width: 22.5rem;
    padding: var(--fi-space-s);
}

.card h5 {
    font-family: var(--fi-font-family-display);
    font-size: var(--step-0);
    font-weight: var(--fi-font-weight-bold);
    line-height: 1.2;
    margin-bottom: var(--fi-space-s);
    margin-top: 0;
}

.longterm-low .card,
.quick-high .card {
    --fill: var(--fi-quadrant-medium-surface, var(--fi-color-primary-600));
    --color: var(--fi-quadrant-medium-content, var(--fi-color-neutral-800));
}

.quick-low .card {
    --fill: var(--fi-quadrant-low-surface, var(--fi-color-yellow-500));
    --color: var(--fi-quadrant-low-content, var(--fi-color-neutral-800));
}

.longterm-high .card {
    --fill: var(--fi-quadrant-high-surface, var(--fi-color-green-300));
    --color: var(--fi-quadrant-high-content, var(--fi-color-neutral-800));
}

.card+.card {
    margin-top: 1rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-left {
    left: -1.5rem;
    position: absolute;
    top: 40%;
    transform: rotate(-90deg);
    transform-origin: bottom;
}

.pull-right {
    position: absolute;
    right: -1.5rem;
    top: 40%;
    transform: rotate(90deg);
    transform-origin: bottom;
}

.can {
    margin-bottom: 2em;
}

.deep-dive-list>*:first-child {
    width: 75%;
}

.deep-dive-list img {
    bottom: 0;
    position: absolute;
    right: -1.125in;
}

.deep-dive-list ol {
    list-style: none;
    list-style-position: outside;
    margin-left: 4rem;
}

.deep-dive-list li {
    counter-increment: deep-dive-list;
    position: relative;
}

.deep-dive-list li::before {
    align-items: center;
    background: var(--fl-bgColor, var(--fi-color-yellow-500));
    border: 1px solid var(--fl-fgColor, transparent);
    border-radius: 17px;
    color: var(--fl-fgColor, var(--fi-color-black));
    content: counter(deep-dive-list);
    display: flex;
    font-family: var(--fi-font-family-display);
    font-size: var(--step--1);
    font-weight: var(--fi-font-weight-bold);
    height: 34px;
    justify-content: center;
    left: -4rem;
    position: absolute;
    width: 34px;
}

.hierarchy-list> :last-child {
    text-align: right;
}

.hierarchy-list li+li,
.deep-dive-list li+li {
    margin-top: var(--fi-space-xl);
}

.instructions ol {
    list-style-position: outside;
    margin-left: 1.25em;
}

.instructions ol>li+li {
    margin-top: var(--fi-spacing-500);
}

.instructions ol>li>p:not(:first-child) {
    margin-left: -1.25em;
}

.instructions ol>li:has(img.wheel),
.instructions ol>li:has(svg.wheel) {
    margin-left: calc(200px + 2rem);
    min-height: 200px;
    position: relative;
}

.instructions ol>li img.wheel,
.instructions ol>li svg.wheel {
    left: calc(-1 * (200px + 4rem));
    position: absolute;
    top: 0;
}

.instructions ol>li:has(img.wheel)>div p:not(:first-child),
.instructions ol>li:has(svg.wheel)>div p:not(:first-child) {
    margin-left: -1.25em;
}

.instructions .factors-list {
    list-style-type: none;
}

.instructions .factors-list li {
    margin-left: calc(2 * var(--fi-spacing-500));
    text-indent: calc(-2 * var(--fi-spacing-500));
}

.factors-list.plain {
    color: currentcolor;
    margin-top: var(--fi-space-2xl);
}

.factors-list li {
    break-inside: avoid-column;
}

.instructions ol ul {
    margin-left: 0;
}

p+p,
p+ul,
p+ol {
    margin-top: var(--flow-space, 1em);
}

.two-column>*+* {
    margin-top: 0;
}

.instructions ol ul li {
    margin-left: 1.5em;
    text-indent: -1.5em;
}

.yes-maybe-no {
    break-inside: avoid;
    list-style-type: none;
    margin-bottom: var(--fi-space-l);
    margin-left: 0;
}

.yes-maybe-no strong {
    font-weight: var(--fi-font-weight-normal);
}

.yes-maybe-no li {
    margin-left: 56px;
    text-indent: -56px;
}

.yes-maybe-no li img,
.yes-maybe-no li svg {
    border-radius: 50%;
    display: inline-block;
    margin-bottom: calc(-1 * var(--fi-space-xs));
    margin-right: var(--fi-space-s);
    overflow: visible;
}

.yes-maybe-no li svg {
    height: 36px;
    width: 36px;
}

.yes-maybe-no li+li {
    margin-top: var(--fi-space-fluid-2xs);
}

.factors-list li::before {
    border: 1px solid currentcolor;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: var(--fi-spacing-500);
    margin-bottom: -0.125em;
    margin-right: var(--fi-spacing-500);
    width: var(--fi-spacing-500);
}

.factors-list.plain li::before {
    display: none;
}

.yes-maybe-no.fillable svg,
.yes-maybe-no.fillable img {
    box-shadow:
        0 0 0 1px var(--fl-bgColor, var(--fi-color-white)),
        0 0 0 2px var(--fl-fgColor, var(--fi-color-grey-800));
}

.worksheet-title,
.example {
    font-weight: var(--fi-font-weight-normal);
}

.worksheet-title strong,
.example strong {
    font-weight: var(--fi-font-weight-bold);
}

.gap-legend {
    align-items: flex-start;
}

.gap-legend ul {
    list-style: none;
}

.gap-legend li+li {
    margin-top: calc(14 / 16 * 1rem);
}

.gap-legend> :first-child {
    width: 65px;
}

.gap-legend> :last-child {
    width: 100%;
}

.visualizing-gaps {
    margin-top: var(--fi-spacing-2000);
}

p:has(.placeholder) {
    display: flex;
}

span.placeholder {
    border-bottom: 2px solid var(--fi-main-content-hierarchy, var(--fi-color-green-500));
    display: inline-block;
    flex-grow: 1;
    margin-left: 1ch;
    margin-right: 1ch;
    text-decoration: underline;
    width: auto;
}

.placeholder-caption {
    margin-left: 4rem;
    margin-top: 0.5em;
}
