body {
    /* Type Scale */

    /* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1440,22,1.25,5,2,&s=0.75,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    /* Step -2: 11.1111px → 14.08px */
    --step--2: clamp(0.6944rem, 0.6326rem + 0.2749vw, 0.88rem);

    /* Step -1: 13.3333px → 17.6px */
    --step--1: clamp(0.8333rem, 0.7444rem + 0.3951vw, 1.1rem);

    /* Step 0: 16px → 22px */
    --step-0: clamp(1rem, 0.875rem + 0.5556vw, 1.375rem);

    /* Step 1: 19.2px → 27.5px */
    --step-1: clamp(1.2rem, 1.0271rem + 0.7685vw, 1.7188rem);

    /* Step 2: 23.04px → 34.375px */
    --step-2: clamp(1.44rem, 1.2039rem + 1.0495vw, 2.1484rem);

    /* Step 3: 27.648px → 42.9688px */
    --step-3: clamp(1.728rem, 1.4088rem + 1.4186vw, 2.6855rem);

    /* Step 4: 33.1776px → 53.7109px */
    --step-4: clamp(2.0736rem, 1.6458rem + 1.9012vw, 3.3569rem);

    /* Step 5: 39.8131px → 67.1387px */
    --step-5: clamp(2.4883rem, 1.919rem + 2.5301vw, 4.1962rem);

    /* Component colors */
    --fi-action-border-focus: var(--fl-linkBgColor, light-dark(var(--fi-color-primary-400), var(--fi-color-grey-800)));
    --fi-action-border-hover: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-primary-400)));
    --fi-action-border: var(--fl-linkBgColor, light-dark(var(--fi-color-primary-500), var(--fi-color-neutral-700)));
    --fi-action-content-focus: var(--fl-linkBgColor, light-dark(var(--fi-color-primary-400), var(--fi-color-neutral-800)));
    --fi-action-content-hover: var(--fl-linkBgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-primary-400)));
    --fi-action-content: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-primary-400)));
    --fi-action-surface-focus: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-lime-400)));
    --fi-action-surface-hover: var(--fl-linkFgColor, light-dark(var(--fi-color-primary-500), var(--fi-color-neutral-700)));
    --fi-action-surface: var(--fl-linkBgColor, light-dark(var(--fi-color-primary-500), var(--fi-color-neutral-700)));

    /* Footer */
    --fi-footer-surface: var(--fl-bgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-neutral-800)));
    --fi-footer-content: var(--fl-fgColor, light-dark(var(--fi-color-neutral-75), var(--fi-color-neutral-75)));

    /* Global navigation */
    --fi-global-nav-content: var(--fl-fgColor, light-dark(var(--fi-color-white), var(--fi-color-white)));
    --fi-global-nav-pref-border: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-neutral-800)));
    --fi-global-nav-pref-content: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-neutral-800)));
    --fi-global-nav-pref-surface: var(--fl-linkBgColor, light-dark(var(--fi-color-white), var(--fi-color-neutral-100)));
    --fi-global-nav-skipto-content: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-neutral-800)));
    --fi-global-nav-skipto-surface: var(--fl-linkBgColor, light-dark(var(--fi-color-primary-500), var(--fi-color-primary-400)));
    --fi-global-nav-surface: var(--fl-bgColor, light-dark(var(--fi-color-neutral-850), var(--fi-color-neutral-800)));

    /* Hero */
    --fi-hero-content: var(--fl-fgColor, light-dark(var(--fi-color-primary-400), var(--fi-color-primary-400)));
    --fi-hero-content-accent: var(--fl-fgColor, light-dark(var(--fi-color-white), var(--fi-color-white)));
    --fi-hero-surface: var(--fl-bgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-neutral-800)));
    --fi-hero-home-content: var(--fl-fgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-primary-400)));
    --fi-hero-home-surface: var(--fl-bgColor, light-dark(var(--fi-color-primary-500), var(--fi-color-neutral-800)));

    /* Main content */
    --fi-main-body: var(--fl-fgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-neutral-75)));
    --fi-main-display: var(--fl-fgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-neutral-75)));
    --fi-main-surface: var(--fl-bgColor, light-dark(var(--fi-color-white), var(--fi-color-neutral-800)));
    --fi-main-content: var(--fl-fgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-neutral-75)));
    --fi-main-content-emphasis: var(--fl-fgColor, light-dark(var(--fi-color-attention-600), var(--fi-color-attention-200)));
    --fi-main-content-hierarchy: var(--fl-fgColor, light-dark(var(--fi-color-green-500), var(--fi-color-green-300)));

    /* Navigation */
    --fi-nav-content: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-primary-400)));
    --fi-nav-surface: var(--fl-linkBgColor, light-dark(var(--fi-color-primary-500), var(--fi-color-neutral-800)));
    --fi-nav-border: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-primary-400)));
    --fi-nav-surface-hover: var(--fl-linkFgColor, light-dark(var(--fi-color-primary-500), var(--fi-color-neutral-800)));
    --fi-nav-border-hover: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-850), var(--fi-color-primary-400)));
    --fi-nav-content-focus: var(--fl-linkBgColor, light-dark(var(--fi-color-primary-400), var(--fi-color-neutral-800)));
    --fi-nav-surface-focus: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-primary-400)));
    --fi-nav-border-focus: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-primary-500)));
    --fi-nav-secondary-container-border: var(--fl-linkFgColor, light-dark(var(--fi-color-primary-600), var(--fi-color-neutral-700)));
    --fi-nav-secondary-content: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-primary-400)));
    --fi-nav-secondary-surface: var(--fl-linkBgColor, light-dark(var(--fi-color-primary-600), var(--fi-color-neutral-700)));
    --fi-nav-secondary-border: var(--fl-linkFgColor, light-dark(transparent, var(--fi-color-primary-600)));
    --fi-nav-secondary-border-hover: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-neutral-800)));
    --fi-nav-secondary-content-focus: var(--fl-linkBgColor, light-dark(var(--fi-color-primary-600), var(--fi-color-neutral-800)));
    --fi-nav-secondary-surface-focus: var(--fl-linkFgColor, light-dark(var(--fi-color-neutral-800), var(--fi-color-primary-800)));
    --fi-nav-secondary-border-focus: var(--fl-linkFgColor, light-dark(var(--fi-color-primary-600), var(--fi-color-neutral-800)));

    /* Wheel diagram */
    --fi-wheel-dashed-line: var(--fl-fgColor, var(--fi-color-neutral-850));
    --fi-wheel-light: var(--fl-bgColor, light-dark(var(--fi-color-wheel-100), var(--fi-color-wheel-300)));
    --fi-wheel-medium: var(--fl-bgColor, light-dark(var(--fi-color-wheel-300), var(--fi-color-wheel-500)));
    --fi-wheel-dark: var(--fl-bgColor, light-dark(var(--fi-color-wheel-500), var(--fi-color-wheel-600)));
    --fi-wheel-slice-outline: var(--fl-fgColor, light-dark(var(--fi-color-wheel-700), var(--fi-color-wheel-900)));
    --fi-wheel-border: var(--fl-fgColor, var(--fi-color-wheel-900));
    --fi-wheel-arrow: var(--fl-fgColor, light-dark(var(--fi-color-red-600), var(--fi-color-red-500)));
    --fi-wheel-label-background: var(--fl-bgColor, light-dark(var(--fi-color-neutral-50), var(--fi-color-neutral-750)));
    --fi-wheel-content: var(--fl-fgColor, light-dark(var(--fi-color-neutral-850), var(--fi-color-neutral-75)));
    --fi-wheel-content-emphasis: var(--fi-main-content-emphasis);

    /* Pyramid diagram */
    --fi-pyramid-surface-level-1: var(--fl-bgColor, var(--fi-color-pyramid-350));
    --fi-pyramid-surface-level-2: var(--fl-bgColor, var(--fi-color-pyramid-300));
    --fi-pyramid-surface-level-3: var(--fl-bgColor, var(--fi-color-pyramid-200));
    --fi-pyramid-surface-level-4: var(--fl-bgColor, var(--fi-color-pyramid-100));
    --fi-pyramid-surface-emphasis: var(--fl-fgColor, var(--fi-color-pyramid-500));
    --fi-pyramid-arrow: var(--fi-pyramid-surface-emphasis);
    --fi-pyramid-border: var(--fl-fgColor, var(--fi-color-pyramid-600));
    --fi-pyramid-dashed-line: var(--fl-fgColor, var(--fi-color-black));
    --fi-pyramid-bullet-content: var(--fl-fgColor, var(--fi-color-black));
    --fi-pyramid-bullet-surface: var(--fl-bgColor, var(--fi-color-yellow-500));

    /* Quadrant diagram */
    --fi-quadrant-high-surface: var(--fl-bgColor, light-dark(var(--fi-color-green-300), var(--fi-color-grey-850)));
    --fi-quadrant-high-content: var(--fl-fgColor, light-dark(var(--fi-color-grey-850), var(--fi-color-green-200)));
    --fi-quadrant-medium-surface: var(--fl-bgColor, light-dark(var(--fi-color-lime-400), var(--fi-color-grey-850)));
    --fi-quadrant-medium-content: var(--fl-fgColor, light-dark(var(--fi-color-grey-850), var(--fi-color-lime-200)));
    --fi-quadrant-low-surface: var(--fl-bgColor, light-dark(var(--fi-color-yellow-500), var(--fi-color-grey-850)));
    --fi-quadrant-low-content: var(--fl-fgColor, light-dark(var(--fi-color-grey-850), var(--fi-color-yellow-200)));

    /* Gap mapping */
    --fi-gap-mapping-yes: var(--fl-fgColor, var(--fi-color-green-500));
    --fi-gap-mapping-maybe: var(--fl-fgColor, var(--fi-color-yellow-650));
    --fi-gap-mapping-no: var(--fl-fgColor, var(--fi-color-red-500));
    --fi-gap-mapping-can-access-fill: var(--fl-fgColor, light-dark(var(--fi-color-green-400), var(--fi-color-green-200)));
    --fi-gap-mapping-can-access-outline: var(--fl-fgColor, light-dark(var(--fi-color-green-500), var(--fi-color-green-400)));
    --fi-gap-mapping-may-access-fill: var(--fl-fgColor, light-dark(var(--fi-color-yellow-500), var(--fi-color-yellow-200)));
    --fi-gap-mapping-may-access-outline: var(--fl-bgColor, light-dark(var(--fi-color-yellow-700), var(--fi-color-yellow-600)));
    --fi-gap-mapping-no-outline: var(--fl-fgColor, var(--fi-color-grey-850));
    --fi-gap-mapping-no-area: var(--fl-bgColor, var(--fi-color-white));
    --fi-gap-mapping-border: var(--fl-fgColor, light-dark(var(--fi-color-neutral-500), var(--fi-color-neutral-200)));
    --fi-gap-mapping-neutral-dark: var(--fl-bgColor, light-dark(var(--fi-color-neutral-300), var(--fi-color-neutral-700)));
    --fi-gap-mapping-neutral-medium: var(--fl-bgColor, light-dark(var(--fi-color-neutral-200), var(--fi-color-neutral-600)));
    --fi-gap-mapping-neutral-light: var(--fl-bgColor, light-dark(var(--fi-color-neutral-75), var(--fi-color-neutral-400)));
    --fi-gap-mapping-red-dark: var(--fl-bgColor, light-dark(var(--fi-color-attention-200), var(--fi-color-attention-300)));
    --fi-gap-mapping-red-medium: var(--fl-bgColor, light-dark(var(--fi-color-attention-100), var(--fi-color-attention-200)));
    --fi-gap-mapping-red-light: var(--fl-bgColor, light-dark(var(--fi-color-white), var(--fi-color-attention-100)));

    /* Circles of control */
    --fi-control-no-border: var(--fl-fgColor, var(--fi-color-red-500));
    --fi-control-no-surface: var(--fl-bgColor, var(--fi-color-red-100));
    --fi-control-maybe-border: var(--fl-fgColor, var(--fi-color-yellow-500));
    --fi-control-maybe-surface: var(--fl-bgColor, var(--fi-color-yellow-100));
    --fi-control-yes-border: var(--fl-fgColor, var(--fi-color-green-350));
    --fi-control-yes-surface: var(--fl-fgColor, var(--fi-color-green-100));

    background-color: var(--fi-main-surface);
    color: var(--fi-main-body);
    font-size: var(--step-0);
    line-height: var(--fl-lineSpace-factor, 1.6);
}

/* General */

[class*="fl-theme"]:not(.fl-theme-prefsEditor-default) {
    background-color: var(--fl-bgColor, var(--fi-main-surface));
    color: var(--fl-fgColor, var(--fi-main-body));
}

[class*="fl-font"] {
    --fi-font-family-display: var(--fl-font-family);
    --fi-font-family-body: var(--fl-font-family);
    --fi-font-family-display-alt: var(--fl-font-family);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
    padding-left: var(--fi-margin-padding);
    padding-right: var(--fi-margin-padding);
    width: 100%;
}

footer {
    background-color: var(--fi-footer-surface);
    color: var(--fi-footer-content);
    padding-bottom: var(--fi-space-fluid-xl-2xl);
    padding-top: var(--fi-space-l);
}

.idrc-ocadu .inner {
    display: flex;
    flex-direction: column;
    gap: var(--fi-space-fluid-xs);
}

/* Header and navigation */

.header,
.skip-container,
.navigation {
    font-family: var(--fi-font-family-display);
    font-size: var(--step--1);
    font-weight: var(--fi-font-weight-semibold);

    .wrapper {
        max-width: 103rem;
    }
}

/* Skip to content */

.skip-container {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    .wrapper {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
}

.skip-container:focus-within {
    z-index: 0;
}

.skip {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    width: 1px;
}

.skip:focus {
    align-items: center;
    background: var(--fi-global-nav-skipto-surface);
    clip: auto;
    clip-path: none;
    color: var(--fi-global-nav-skipto-content);
    display: flex;
    height: var(--fi-space-fluid-4xl-l);
    justify-content: center;
    outline: 1px solid transparent;
    overflow: auto;
    width: 100%;
    z-index: 1;
}

@media (width >= 60rem) {
    .skip-container:focus-within {
        align-items: center;
        display: flex;
        height: var(--fi-space-fluid-l);
        padding-left: var(--fi-space-fluid-s);
    }

    .skip:focus {
        height: var(--fi-space-fluid-s);
        max-width: 24.5rem;
    }
}

/* Links */

a:not([class]) {
    background-color: var(--fl-linkBgColor, var(--fi-action-surface));
    color: var(--fl-linkFgColor, var(--fi-action-content));

    &:visited {
        color: currentcolor;
    }

    &:hover {
        box-shadow: 0 0 0 1px var(--fl-linkFgColor, var(--fi-action-border-hover)) inset;
    }

    &:focus,
    &:active {
        background-color: var(--fl-linkFgColor, var(--fi-action-surface-focus));
        box-shadow: 0 0 0 1.5px var(--fl-linkBgColor, var(--fi-action-border-focus)) inset;
        color: var(--fl-linkBgColor, var(--fi-action-content-focus));
        outline: solid 1px transparent;

        &:visited {
            color: var(--fl-linkBgColor, var(--fi-action-content-focus));
        }
    }
}

a {
    font-size: calc(var(--fl-enhance-font-size-factor, 1) * 100%);
    height: auto;
    width: max-content;

    svg {
        display: block;
    }
}

.back-matter main a:not([class]) {
    background-color: transparent;

    &:hover {
        background-color: var(--fl-linkBgColor, var(--fi-color-lime-500));
    }

    &:focus,
    &:active {
        background-color: var(--fl-linkFgColor, var(--fi-color-grey-800));
        color: var(--fl-linkBgColor, var(--fi-color-lime-500));
    }
}

header .header a:not([class]) {
   color: var(--fl-linkFgColor, var(--fi-global-nav-content));
}

footer a:not([class]) {
    color: var(--fl-linkFgColor, var(--fi-footer-content));
}

header a:not([class]),
footer a:not([class]) {
    background-color: transparent;

    &:has(svg) {
        display: inline-block;
        width: max-content;
    }

    &:visited {
        color: var(--fl-linkFgColor, var(--fi-color-white));
    }

    &:hover {
        box-shadow: 0 0 0 1px var(--fl-linkFgColor, var(--fi-color-white)) inset;
    }

    &:focus,
    &:active,
    &:visited:focus,
    &:visited:active {
        background-color: var(--fl-linkFgColor, var(--fi-color-lime-500));
        box-shadow: 0 0 0 1.5px var(--fl-linkFgColor, var(--fi-color-lime-500)) inset;
        color: var(--fl-linkBgColor, var(--fi-color-grey-800));
        outline: solid 1px transparent;
    }
}

a.standalone {
    align-items: center;
    background-color: var(--fi-action-surface);
    border-radius: 2px;
    box-shadow: 0 0 0 1px var(--fi-action-border) inset;
    color: var(--fi-action-content);
    display: inline-flex;
    gap: var(--fi-space-xs);
    padding-left: var(--fi-space-xs);
    padding-right: var(--fi-space-xs);
    padding-top: 2px;
    text-decoration: none;

    div {
        white-space: nowrap;
    }

    &:hover {
        box-shadow: 0 0 0 1.5px var(--fi-action-border-hover) inset;
    }

    &:focus,
    &:active {
        background-color: var(--fi-action-surface-focus);
        box-shadow: 0 0 0 1.5px var(--fi-action-border-focus) inset;
        color: var(--fi-action-content-focus);
        outline: solid 1px transparent;
    }
}

/* Header */

.header {
    background-color: var(--fi-global-nav-surface);
    color: var(--fi-global-nav-content);

    .wrapper {
        align-items: flex-start;
        flex-direction: column;
        height: var(--fi-space-fluid-4xl-l);
        justify-content: center;
        padding-left: var(--fi-space-l);
        padding-right: var(--fi-space-l);
    }
}

.header a {
    display: inline-block;
}

.header .language {
    margin-top: var(--fi-space-xs);
}

.header .language li {
    display: inline;
}

.header .language li + li::before {
    content: "\A0\A0/\A0\A0";
}

@media (width >= 60rem) {
    .header .wrapper {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* UIO styling */

.fl-preview-A {
    margin-block-start: 0.5rem;
}

.fl-preview-dark,
.fl-preview-light {
    margin-block-start: 0.3rem;
    margin-inline-start: -0.1rem;
}

[class*="fl-theme"] .fl-prefsEditor .fl-choice label.fl-theme-dark {
    background-color: var(--fi-color-neutral-800) !important;
    border-color: var(--fi-color-neutral-75) !important;
    color: var(--fi-color-neutral-75) !important;
}

[class*="fl-theme"] .fl-prefsEditor .fl-choice label.fl-theme-light {
    background-color: var(--fi-color-white) !important;
    border-color: var(--fi-color-neutral-800) !important;
    color: var(--fi-color-neutral-800) !important;
}

.flc-prefsEditor-theme-label:not(.fl-theme-dark) .fl-preview-dark,
.flc-prefsEditor-theme-label:not(.fl-theme-light) .fl-preview-light {
    display: none;
}

.flc-prefsEditor-theme-label:where(.fl-theme-light, .fl-theme-dark) .fl-preview-A {
    display: none;
}

.fl-blocking-theme {
    color-scheme: light dark;
}

.fl-theme-dark,
.fl-blocking-theme.fl-theme-dark {
    color-scheme: dark;
}

.fl-theme-light,
.fl-blocking-theme.fl-theme-light {
    color-scheme: light;
}

[class*="fl-theme"]:not(.fl-theme-dark, .fl-theme-light, .fl-theme-prefsEditor-default) {
    color-scheme: normal;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor {
    background-color: var(--fl-bgColor, light-dark(#bcb5ad, var(--fi-color-neutral-800)));

    .fl-prefsEditor-panel {
        background-color: var(--fl-bgColor, light-dark(#fff, var(--fi-color-neutral-700)));
        border-color: var(--fl-fgColor, light-dark(#615e59, transparent));
        box-shadow: 2px 2px var(--fl-fgColor, light-dark(#7a766d, var(--fi-color-neutral-300)));
        color: var(--fl-fgColor, light-dark(#5d5652, var(--fi-color-neutral-75)));
    }

    select {
        color: var(--fl-fgColor, light-dark(#000, currentColor));
    }

    select:focus {
        border-color: light-dark(currentcolor, transparent);
        color: var(--fl-fgColor, light-dark(#000, var(--fi-color-lime-400)));
        outline-color: var(--fl-fgColor, light-dark(#000, var(--fi-color-lime-400)));
    }

    .fl-textfieldStepper .fl-textfieldStepper-textField,
    .fl-textfieldStepper .fl-textfieldStepper-button {
        border-color: var(--fl-fgColor, light-dark(#000, var(--fi-color-neutral-75)));
    }

    .fl-textfieldStepper .fl-textfieldStepper-textField::selection {
        background-color: light-dark(highlight, var(--fi-color-lime-400));
        color: var(--fl-fgColor, light-dark(currentColor, var(--fi-color-neutral-800)));
    }

    .fl-textfieldStepper:focus-within {
        color: var(--fl-fgColor, light-dark(currentColor, var(--fi-color-lime-400)));
    }

    .fl-textfieldStepper-focus,
    .fl-choice input:focus ~ label {
        outline-color: var(--fl-fgColor, light-dark(#000, var(--fi-color-lime-400)));
    }

    .fl-textfieldStepper-focus {
        .fl-textfieldStepper-textField,
        .fl-textfieldStepper-button {
            border-color: var(--fl-fgColor, light-dark(#000, var(--fi-color-lime-400)));
        }
    }

    .fl-switchUI-control {
        background-color: inherit;
    }

    .fl-switchUI:focus-within {
        color: var(--fl-fgColor, light-dark(currentColor, var(--fi-color-lime-400)));
    }

    .fl-switchUI-control:focus {
        box-shadow:
            0 0 0 0.2em var(--fl-buttonBgColor, light-dark(#fff, var(--fi-color-neutral-700))),
            0 0 0 0.35em var(--fl-buttonFgColor, light-dark(#000, var(--fi-color-lime-400)));
        outline: none;
    }
}

/* Brand and Navigation Toggle */

.brand-and-toggle a em::after,
h1 em::after {
    content: "";
    display: block;
}

.brand-and-toggle {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    min-height: var(--fi-space-fluid-5xl-3xl);

    a {
        background-color: transparent;
        box-shadow: none;
        font-family: var(--fi-font-family-display);
        font-size: var(--step-1);
        font-weight: var(--fi-font-weight-extrabold);
        height: auto;
        margin-left: calc(-1 * var(--fi-space-xs));
        min-width: 15rem;
        padding-bottom: var(--fi-space-xs);
        padding-top: var(--fi-space-xs);
        text-decoration: none;

        em {
            font-family: var(--fi-font-family-display-alt);
            font-style: normal;
        }

        span {
            display: block;
        }

        svg {
            display: none;
            width: 8rem;
        }
    }
}

.home .brand-and-toggle a {
    min-width: max-content;

    svg {
        display: block;
        fill: currentcolor;
    }

    span {
        display: none;
    }
}

@media (width >= 60rem) {
    .header.language {
        margin-top: 0;
    }

    .brand-and-toggle a svg {
        width: 10.75rem;
    }
}

@media (width >= 90rem) {
    .brand-and-toggle a {
        width: 17.5rem;
    }

    .brand-and-toggle a em::after,
    h1 em::after {
        display: none;
    }
}

/* Navigation */

.navigation {
    background-color: var(--fi-nav-surface);

    .wrapper {
        min-height: var(--fi-space-fluid-5xl-3xl);
        padding-left: var(--fi-space-m);
        padding-right: var(--fi-space-m);
    }
}

.navigation [aria-expanded] {
    align-items: center;
    appearance: none;
    background-color: var(--fi-nav-surface);
    border: 0;
    color: var(--fi-nav-content);
    display: flex;
    justify-content: center;
    margin-top: 0;

    &:hover {
        box-shadow: 0 0 0 var(--fi-spacing-050) var(--fi-nav-border-hover) inset;
    }

    &:focus {
        background-color: var(--fi-nav-surface-focus);
        box-shadow: 0 0 0 var(--fi-spacing-050) var(--fi-nav-border-focus) inset;
        color: var(--fi-nav-content-focus);
        outline: solid 1px transparent;
    }
}

.navigation .brand-and-toggle [aria-expanded] {
    height: var(--fi-space-2xl);
    padding: 0;
    width: var(--fi-space-2xl);

    .menu__close {
        display: none;
    }
}

.navigation .brand-and-toggle [aria-expanded="true"] {
    .menu__open {
        display: none;
    }

    .menu__close {
        display: block;
    }
}

.navigation .menu > ul {
    margin-left: calc(-1 * var(--fi-space-m));
    position: relative;
    width: 100vw;
    z-index: 1;
}

.navigation:has(.brand-and-toggle [aria-expanded="false"]) .menu > ul {
    display: none;
}

.navigation .menu > ul > li {
    position: relative;
}

.navigation li:has([aria-expanded]) {
    display: grid;
    gap: 0;
    grid-auto-flow: row;
    grid-template-columns: auto 1fr;
}

.navigation li a {
    align-items: center;
    background-color: var(--fi-nav-surface);
    color: var(--fi-nav-content);
    display: flex;
    height: var(--fi-space-2xl);
    justify-content: flex-start;
    margin-left: 0;
    padding-left: var(--fi-space-m);
    padding-right: var(--fi-space-m);
    text-decoration: none;
    width: 100%;
}

.navigation li:has([aria-expanded]) > a {
    width: max-content;
}

.navigation li a[aria-current="page"] {
    box-shadow:
        0 -1px var(--fi-nav-surface) inset,
        0 calc(-1 * var(--fi-space-2xs)) var(--fi-nav-border) inset;
}

.navigation li a:hover {
    box-shadow: 0 0 0 var(--fi-spacing-050) var(--fi-nav-border-hover) inset;
}

.navigation li a[aria-current="page"]:hover {
    box-shadow:
        0 0 0 var(--fi-spacing-050) var(--fi-nav-border-hover) inset,
        0 calc(-1 * var(--fi-space-2xs)) var(--fi-nav-border-hover) inset;
}

.navigation li a:visited {
    color: var(--fi-nav-content);
}

.navigation li a:focus {
    background: var(--fi-nav-surface-focus);
    box-shadow: 0 0 0 var(--fi-spacing-050) var(--fi-nav-border-focus) inset;
    color: var(--fi-nav-content-focus);
    outline: 1px solid transparent;
}

.navigation li li a {
    background: transparent;
    color: var(--fi-nav-secondary-content);
    height: auto;
    min-height: var(--fi-space-2xl);
    padding-left: var(--fi-space-2xl);
    width: 100vw;
}

.navigation li li a:hover {
    box-shadow:
        var(--fi-space-s) 0 0 var(--fi-nav-secondary-border-hover) inset,
        0 0 0 var(--fi-spacing-050) var(--fi-nav-secondary-border-hover) inset;
}

.navigation li li a:focus {
    box-shadow:
        0 0 0 var(--fi-spacing-050) var(--fi-nav-secondary-border-focus) inset,
        var(--fi-space-s) 0 0 var(--fi-nav-secondary-content-focus) inset;
    color: var(--fi-nav-secondary-content-focus);
}

.navigation li [aria-expanded] {
    height: var(--fi-space-2xl);
    justify-content: flex-start;
    padding-left: var(--fi-space-xs);
    padding-right: var(--fi-space-xs);
    width: 100%;
}

.navigation li:has([aria-expanded]:focus) > a {
    box-shadow: 0 0 0 var(--fi-spacing-050) var(--fi-nav-border-hover) inset;
}

.navigation li [aria-expanded="true"] {
    box-shadow: calc(-1 * var(--fi-space-2xs)) var(--fi-space-2xs) 0 var(--fi-nav-border) inset;

    svg {
        transform: rotate(180deg);
    }
}

.navigation li:has([aria-expanded="true"]:focus) > a,
.navigation li:has([aria-expanded="true"]) > a {
    box-shadow: var(--fi-space-2xs) var(--fi-space-2xs) 0 var(--fi-nav-border) inset;
}

.navigation li [aria-expanded] + ul {
    display: none;
}

.navigation li [aria-expanded="true"] + ul {
    display: flex;
    flex-direction: column;
}

.navigation li ul {
    background: var(--fi-nav-secondary-surface);
    box-shadow: 0 0 0 var(--fi-spacing-050) var(--fi-nav-secondary-border) inset;
    display: block;
    grid-column: 1 / 3;
    margin-left: 0;
    margin-top: 0;
    position: relative;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: var(--fi-space-2xl);
}

@media (width >= 60rem) {
    .navigation .brand-and-toggle {
        height: inherit;
    }

    .navigation .brand-and-toggle [aria-expanded] {
        display: none;
    }

    .navigation:has(.brand-and-toggle [aria-expanded="false"]) .menu > ul {
        display: flex;
    }

    .navigation .wrapper,
    .navigation .menu > ul {
        align-items: center;
        display: flex;
    }

    .navigation .wrapper {
        height: var(--fi-space-3xl);
        justify-content: space-between;
    }

    .navigation .menu > ul {
        margin-left: auto;
        margin-right: calc(-1 * var(--fi-space-m));
        width: auto;
    }

    .navigation li {
        display: flex;
    }

    .navigation li:has([aria-expanded]) {
        display: flex;
    }

    .navigation li a[aria-current="page"] {
        box-shadow: 0 calc(-1 * var(--fi-space-2xs)) var(--fi-nav-border) inset;
    }

    .navigation li a,
    .navigation li [aria-expanded] {
        height: var(--fi-space-3xl);
        justify-content: center;
        padding-left: var(--fi-space-xs);
        padding-right: var(--fi-space-xs);
    }

    .navigation li a {
        text-align: center;
        width: auto;
    }

    .navigation li li {
        height: auto;
        width: 100%;
    }

    .navigation li li a {
        height: auto;
        justify-content: flex-start;
        min-height: var(--fi-space-fluid-xl);
        padding: var(--fi-space-m) var(--fi-space-fluid-s);
        text-align: left;
        width: 100%;
    }

    .navigation li ul {
        flex-direction: column;
        left: 0;
        min-width: 100%;
        position: absolute;
        top: var(--fi-space-3xl);
        width: max-content;
    }
}

/* Title */

.title {
    background-color: var(--fi-hero-surface);
    color: var(--fi-hero-content);

    em {
        color: var(--fi-hero-content-accent);
    }
}

.home .title {
    background-color: var(--fi-hero-home-surface);
    color: var(--fi-hero-home-content);

    em {
        color: var(--fi-hero-home-content);
    }
}

/* Utilities */

.flex {
    display: flex;
}

.hide {
    display: none;
}

.block {
    display: block;
}

@media (width >= 60rem) {
    .md\:hide {
        display: none;
    }

    .md\:block {
        display: block;
    }

    .md\:inline {
        display: inline;
    }
}

@media (width >= 90rem) {
    .lg\:hide {
        display: none;
    }

    .lg\:block {
        display: block;
    }
}

.title .wrapper {
    padding-bottom: var(--fi-space-fluid-l-xl);
    padding-top: var(--fi-space-fluid-m);
}

article .wrapper {
    padding-bottom: var(--fi-space-fluid-l-xl);
    padding-top: var(--fi-space-fluid-xl);
}

.flow > h2 + *,
.flow > h2[id="about-this-guidebook"] + h3 + *,
.flow > h2[id="a-propos-de-ce-guide"] + h3 + * {
    --flow-space: var(--fi-space-fluid-m);
}

.flow > * + h3 {
    --flow-space: var(--fi-space-fluid-l-xl);
}

.flow > h3 + *,
.flow > .h3 + *,
.flow > h4 + *,
.flow > .h4 + * {
    --flow-space: var(--fi-space-fluid-s);
}

.flow > p + p {
    --flow-space: var(--fi-space-fluid-xs-2xs);
}

address,
.small {
    font-size: var(--step--1);
    font-style: normal;
    line-height: var(--fl-lineSpace-factor, 1.4);
}

.funders
.small {
    display: flex;
    flex-direction: column;
    gap: var(--fi-space-s);
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h2[id="about-this-guidebook"] + h3,
h2[id="a-propos-de-ce-guide"] + h3 {
    display: none;
}

h3 {
    font-size: var(--step-3);
}

h4,
.h4 {
    font-size: var(--step-2);
    margin-top: 0;
}

h5,
.h5 {
    font-size: var(--step-1);
    font-weight: var(--fi-font-weight-extrabold);
}

.grid {
    display: grid;
    gap: var(--fi-space-fluid-m);
    grid-template-rows: repeat(4, auto);
}

.grid > *::before {
    border-block-start: 2px solid currentcolor;
    content: "";
    display: block;
    margin-bottom: var(--fi-space-l);
    width: 50%;
}

.introduction ul {
    border-left: var(--fi-spacing-050) solid var(--fl-fgColor, var(--fi-color-lime-500));
    margin-left: calc(-1 * var(--fi-space-m));
    padding-left: var(--fi-space-m);
}

.introduction li {
    break-inside: avoid-column;
    padding-bottom: var(--fi-space-m);
}

.introduction li:last-child {
    padding-bottom: 0;
}

.two-column.barrier {
    align-items: flex-start;
}

.two-column.barrier svg {
    max-width: var(--fi-spacing-1800);
}

.two-column.barrier > *:first-child {
    width: max-content;
}

.two-column.barrier > *:last-child {
    max-width: calc(2 / 3 * 100%);
    width: 100%;
}

svg.web.desktop {
    display: none;
}

svg.web.mobile {
    display: block;
}

@media (width >= 60rem) {
    .barrier-title {
        margin-inline-start: var(--fi-spacing-3700);
        margin-top: var(--fi-spacing-2000);
        padding-inline-start: var(--fi-spacing-600);
    }

    .two-column.barrier {
        align-items: flex-start;
    }

    .two-column.barrier svg {
        max-width: var(--fi-spacing-3700);
    }

    .grid {
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .grid > *::before {
        width: 100%;
    }

    .grid > *:first-of-type::before {
        width: 50%;
    }

    .introduction ul {
        column-gap: var(--fi-space-2xl);
        column-rule: var(--fi-spacing-050) solid var(--fl-fgColor, var(--fi-color-lime-500));
        columns: 2;
    }

    .introduction li {
        padding-bottom: var(--fi-space-2xl);
    }

    svg.web.mobile {
        display: none;
    }

    svg.web.desktop {
        display: block;
    }
}

.two-by-two h4 {
    margin-bottom: var(--fi-space-m);
    margin-top: var(--fi-space-2xl);
}

.print,
li img.print {
    display: none;
}

.journey-map {
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--fi-space-xl);
    padding-bottom: 2rem;
}

.journey-map h5 {
    font-size: 1.2rem;
}

.journey-map li {
    font-size: 1rem;
}

.journey-map .scenario {
    position: absolute;
    top: 0;
}

.journey-map.narrative-1 {
    width: 350px;
}

.journey-map.narrative-1 li {
    width: 204px;
}

.journey-map.narrative-1 .scenario {
    left: 72px;
}

.journey-map.narrative-1 .scenario li:first-child {
    top: -4px;
}

.journey-map.narrative-1 .scenario li:nth-child(2) {
    top: 107px;
}

.journey-map.narrative-1 .scenario li:nth-child(3) {
    top: 270px;
}

.journey-map.narrative-1 .usual {
    left: 32px;
    top: 478px;
}

.journey-map.narrative-1 .usual li:first-child {
    top: 66px;
}

.journey-map.narrative-1 .usual li:nth-child(2) {
    top: 204px;
}

.journey-map.narrative-1 .usual li:nth-child(3) {
    top: 366px;
}

.journey-map.narrative-1 .potential {
    left: 112px;
    top: 1007px;
}

.journey-map.narrative-1 .potential li {
    width: 204px;
}

.journey-map.narrative-1 .potential li:first-child {
    top: 69px;
}

.journey-map.narrative-1 .potential li:nth-child(2) {
    top: 207px;
}

.journey-map.narrative-1 .potential li:nth-child(3) {
    top: 374px;
}

.journey-map.narrative-2 {
    margin-block-end: 150px;
    width: 350px;
}

.journey-map.narrative-2 li {
    width: 204px;
}

.journey-map.narrative-2 .scenario {
    left: 72px;
}

.journey-map.narrative-2 .scenario li:first-child {
    top: -4px;
}

.journey-map.narrative-2 .scenario li:nth-child(2) {
    top: 133px;
}

.journey-map.narrative-2 .scenario li:nth-child(3) {
    top: 270px;
}

.journey-map.narrative-2 .usual {
    left: 32px;
    top: 478px;
}

.journey-map.narrative-2 .usual li:first-child {
    top: 66px;
}

.journey-map.narrative-2 .usual li:nth-child(2) {
    top: 255px;
}

.journey-map.narrative-2 .usual li:nth-child(3) {
    top: 495px;
}

.journey-map.narrative-2 .potential {
    left: 110px;
    top: 1167px;
}

.journey-map.narrative-2 .potential li {
    width: 204px;
}

.journey-map.narrative-2 .potential li:first-child {
    top: 69px;
}

.journey-map.narrative-2 .potential li:nth-child(2) {
    top: 258px;
}

.journey-map.narrative-2 .potential li:nth-child(3) {
    top: 470px;
}

.journey-map.narrative-3 {
    margin-block-end: 210px;
    width: 350px;
}

.journey-map.narrative-3 li {
    width: 204px;
}

.journey-map.narrative-3 .scenario {
    left: 72px;
}

.journey-map.narrative-3 .scenario li:first-child {
    top: -4px;
}

.journey-map.narrative-3 .scenario li:nth-child(2) {
    top: 127px;
}

.journey-map.narrative-3 .scenario li:nth-child(3) {
    top: 290px;
}

.journey-map.narrative-3 .usual {
    left: 32px;
    top: 462px;
}

.journey-map.narrative-3 .usual li:first-child {
    top: 66px;
}

.journey-map.narrative-3 .usual li:nth-child(2) {
    top: 252px;
}

.journey-map.narrative-3 .usual li:nth-child(3) {
    top: 388px;
}

.journey-map.narrative-3 .potential {
    left: 110px;
    top: 1098px;
}

.journey-map.narrative-3 .potential li {
    width: 204px;
}

.journey-map.narrative-3 .potential li:first-child {
    top: 69px;
}

.journey-map.narrative-3 .potential li:nth-child(2) {
    top: 258px;
}

.journey-map.narrative-3 .potential li:nth-child(3) {
    top: 468px;
}

.journey-map.narrative-4 {
    margin-block-end: 170px;
    width: 340px;
}

.journey-map.narrative-4 li {
    width: 204px;
}

.journey-map.narrative-4 .scenario {
    left: 72px;
}

.journey-map.narrative-4 .scenario li:first-child {
    top: -4px;
}

.journey-map.narrative-4 .scenario li:nth-child(2) {
    top: 212px;
}

.journey-map.narrative-4 .scenario li:nth-child(3) {
    top: 346px;
}

.journey-map.narrative-4 .usual {
    left: 32px;
    top: 505px;
}

.journey-map.narrative-4 .usual li:first-child {
    top: 66px;
}

.journey-map.narrative-4 .usual li:nth-child(2) {
    top: 281px;
}

.journey-map.narrative-4 .usual li:nth-child(3) {
    top: 547px;
}

.journey-map.narrative-4 .potential {
    left: 106px;
    top: 1248px;
}

.journey-map.narrative-4 .potential li {
    width: 204px;
}

.journey-map.narrative-4 .potential li:first-child {
    top: 69px;
}

.journey-map.narrative-4 .potential li:nth-child(2) {
    top: 310px;
}

.journey-map.narrative-4 .potential li:nth-child(3) {
    top: 602px;
}

@media (width < 60rem) {
    .desktop-only {
        display: none;
    }
}

@media (width >= 60rem) {
    .journey-map {
        margin-top: var(--fi-space-3xl);
    }

    .journey-map h5 {
        font-size: 1.7188rem;
    }

    .journey-map li {
        font-size: 1.375rem;
    }

    .journey-map.narrative-1 {
        width: 790px;
    }

    .journey-map.narrative-1 li {
        width: 240px;
    }

    .journey-map.narrative-1 .scenario {
        left: 330px;
    }

    .journey-map.narrative-1 .scenario li:first-child {
        top: 4px;
    }

    .journey-map.narrative-1 .scenario li:nth-child(2) {
        top: 193px;
    }

    .journey-map.narrative-1 .scenario li:nth-child(3) {
        top: 381px;
    }

    .journey-map.narrative-1 .usual {
        left: 72px;
        top: 840px;
    }

    .journey-map.narrative-1 .usual li {
        width: 260px;
    }

    .journey-map.narrative-1 .usual li:first-child {
        top: 112px;
    }

    .journey-map.narrative-1 .usual li:nth-child(2) {
        top: 325px;
    }

    .journey-map.narrative-1 .usual li:nth-child(3) {
        top: 548px;
    }

    .journey-map.narrative-1 .potential {
        left: 585px;
        top: 1553px;
    }

    .journey-map.narrative-1 .potential li {
        width: 286px;
    }

    .journey-map.narrative-1 .potential li:first-child {
        top: 120px;
    }

    .journey-map.narrative-1 .potential li:nth-child(2) {
        top: 337px;
    }

    .journey-map.narrative-1 .potential li:nth-child(3) {
        top: 595px;
    }

    .journey-map.narrative-2 {
        margin-block-end: 200px;
        width: 790px;
    }

    .journey-map.narrative-2 li {
        width: 240px;
    }

    .journey-map.narrative-2 .scenario {
        left: 330px;
    }

    .journey-map.narrative-2 .scenario li:first-child {
        top: 4px;
    }

    .journey-map.narrative-2 .scenario li:nth-child(2) {
        top: 227px;
    }

    .journey-map.narrative-2 .scenario li:nth-child(3) {
        top: 410px;
    }

    .journey-map.narrative-2 .usual {
        left: 72px;
        top: 838px;
    }

    .journey-map.narrative-2 .usual li {
        width: 260px;
    }

    .journey-map.narrative-2 .usual li:first-child {
        top: 112px;
    }

    .journey-map.narrative-2 .usual li:nth-child(2) {
        top: 370px;
    }

    .journey-map.narrative-2 .usual li:nth-child(3) {
        top: 730px;
    }

    .journey-map.narrative-2 .potential {
        left: 580px;
        top: 1530px;
    }

    .journey-map.narrative-2 .potential li {
        width: 286px;
    }

    .journey-map.narrative-2 .potential li:first-child {
        top: 120px;
    }

    .journey-map.narrative-2 .potential li:nth-child(2) {
        top: 419px;
    }

    .journey-map.narrative-2 .potential li:nth-child(3) {
        top: 710px;
    }

    .journey-map.narrative-3 {
        margin-block-end: 240px;
        width: 790px;
    }

    .journey-map.narrative-3 li {
        width: 280px;
    }

    .journey-map.narrative-3 .scenario {
        left: 330px;
    }

    .journey-map.narrative-3 .scenario li:first-child {
        top: 8px;
    }

    .journey-map.narrative-3 .scenario li:nth-child(2) {
        top: 230px;
    }

    .journey-map.narrative-3 .scenario li:nth-child(3) {
        top: 486px;
    }

    .journey-map.narrative-3 .usual {
        left: 72px;
        top: 823px;
    }

    .journey-map.narrative-3 .usual li {
        width: 260px;
    }

    .journey-map.narrative-3 .usual li:first-child {
        top: 112px;
    }

    .journey-map.narrative-3 .usual li:nth-child(2) {
        top: 374px;
    }

    .journey-map.narrative-3 .usual li:nth-child(3) {
        top: 593px;
    }

    .journey-map.narrative-3 .potential {
        left: 580px;
        top: 1540px;
    }

    .journey-map.narrative-3 .potential li {
        width: 320px;
    }

    .journey-map.narrative-3 .potential li:first-child {
        top: 120px;
    }

    .journey-map.narrative-3 .potential li:nth-child(2) {
        top: 417px;
    }

    .journey-map.narrative-3 .potential li:nth-child(3) {
        top: 708px;
    }

    .journey-map.narrative-4 {
        margin-block-end: 220px;
        width: 790px;
    }

    .journey-map.narrative-4 li {
        width: 400px;
    }

    .journey-map.narrative-4 .scenario {
        left: 330px;
    }

    .journey-map.narrative-4 .scenario li:first-child {
        top: 4px;
    }

    .journey-map.narrative-4 .scenario li:nth-child(2) {
        top: 330px;
    }

    .journey-map.narrative-4 .scenario li:nth-child(3) {
        top: 545px;
    }

    .journey-map.narrative-4 .usual {
        left: 72px;
        top: 850px;
    }

    .journey-map.narrative-4 .usual li {
        width: 260px;
    }

    .journey-map.narrative-4 .usual li:first-child {
        top: 112px;
    }

    .journey-map.narrative-4 .usual li:nth-child(2) {
        top: 440px;
    }

    .journey-map.narrative-4 .usual li:nth-child(3) {
        top: 766px;
    }

    .journey-map.narrative-4 .potential {
        left: 585px;
        top: 1470px;
    }

    .journey-map.narrative-4 .potential li {
        width: 310px;
    }

    .journey-map.narrative-4 .potential li:first-child {
        top: 120px;
    }

    .journey-map.narrative-4 .potential li:nth-child(2) {
        top: 440px;
    }

    .journey-map.narrative-4 .potential li:nth-child(3) {
        top: 796px;
    }

    .mobile-only {
        display: none;
    }

    .two-by-two-wrapper {
        position: relative;
    }

    .two-by-two {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space, 2rem);
        margin-bottom: var(--space, 2rem);
        margin-top: var(--space, 2rem);
        padding-left: var(--space, 2rem);
        width: 100%;
    }

    .two-by-two > * {
        width: calc(50% - 2rem);
    }

    .two-by-two > *:first-child {
        align-self: flex-end;
        justify-items: flex-end;
    }

    .two-by-two > *:nth-child(2) {
        align-self: flex-end;
        justify-items: flex-start;
    }

    .two-by-two > *:nth-child(3) {
        align-self: flex-start;
        justify-items: flex-end;
    }

    .two-by-two > *:last-child {
        align-self: flex-start;
        justify-items: flex-start;
    }

    .factors-list {
        columns: 2;
    }

    .yes-maybe-no li svg {
        height: 42px;
        width: 42px;
    }

    .yes-maybe-no li {
        margin-left: 62px;
        text-indent: -62px;
    }
}
